<nav id="global-nav-find-and-post">
  <%= link_to "Find Challenges", root_url(ref: params[:ref] || "top-nav-find"), data: { role: "discover" }, id: 'global-nav-find-link' %>

  <%= link_to "Post Challenges", root_url(ref: params[:ref] || "top-nav-post"), data: { role: "post-challenge" }, id: 'global-nav-post-link' %>
</nav>
