<nav class="top-bar" id="global-nav">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1><%= link_to image_tag("http://challengepost0.assetspost.com/assets/shared/ChallengePost_logo-b1d8468b99e10af0c79d389beff042d8.png", alt: "ChallengePost"), root_url %></h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
      <li><a href="#">Find Challenges</a></li>
      <li><a href="#">Post Challenges</a></li>
    </ul>

    <!-- Right Nav Section -->
    <ul class="right">
      <li class="has-dropdown">
        <a href="#" id="global-nav-screen-name">Unknown</a>
        <ul class="dropdown">
          <li>
            <a href="#" class=""><em>new!</em> Portfolio</a>
          </li>
          <li>
            <a href="#" class="">Manage challenges</a>
          </li>
          <li>
            <a href="#" class="">Settings</a>
          </li>
          <li>
            <a href="#" class="">Log out</a>
          </li>

        </ul>
      </li>
    </ul>
  </section>
</nav>
