<article id="app-details" class="content-section" itemscope itemtype="http://schema.org/SoftwareApplication">
  <div class="row">
    <aside class="large-4 push-8 columns" id="app-details-right">

      <figure class="app-image" itemprop="screenshot">
        <%= image_tag software_photo_url(@app), itemprop: 'image' %>
      </figure>

      <nav class="app-links">
        <ul class="no-bullet">
          <li><%= link_to "Visit Software", @app.url, class: "large button expand" %></li>
          <li itemprop="video" itemtype="http://schema.org/VideoObject">
            <%= link_to "Video Demonstration", "#", class: "large button expand app-links-video", itemprop: "url" %>
          </li>
        </ul>
      </nav>

    </aside>

    <div class="large-8 pull-4 columns" id="app-details-left">
      <h1 id="app-title" itemprop="name"><%= @app.name %></h1>
      <p>
        created by
        <%= link_to "stefano", '#', itemprop: 'author' %>
      </p>

      <hr>

      <p id="app-tagline" itemprop="tagline">
        The catchy one-liner that is a bit long and wraps on the next line. The catchy one-liner that is a bit long and wraps on the next line.
      </p>

      <hr>

      <ul class="no-bullet inline-list" id="app-labels">
        <li><span class="label stack">Ruby on Rails</span></li>
        <li><span class="label stack">Ruby</span></li>
        <li><span class="label stack">Ruby on Rails</span></li>
        <li><span class="label stack">Ruby</span></li>
        <li><span class="label stack">Haskel on Grails</span></li>
        <li><span class="label stack">Ruby on Rails</span></li>
        <li><span class="label stack">Ruby</span></li>
        <li><span class="label stack">Haskel on Grails</span></li>
        <li><span class="label stack">Ruby on Rails</span></li>
        <li><span class="label stack">Ruby</span></li>
        <li><span class="label stack">Haskel on Grails</span></li>
        <li><span class="label platform">Web</span></li>
        <li><span class="label platform">Holly</span></li>
      </ul>

      <div itemprop="description">
        <p>
          Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Maecenas faucibus mollis interdum.
        </p>

        <p>
          Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Vestibulum id ligula porta felis euismod semper. Cras mattis consectetur purus sit amet fermentum. Maecenas sed diam eget risus varius blandit sit amet non magna.
        </p>
      </div>
    </div>

  </div>
</article>

