<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js" xmlns:fb="http://ogp.me/ns/fb#" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://opengraphprotocol.org/schema/"> <!--<![endif]-->
  <head prefix="og: http://ogp.me/ns#">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>App Gallery</title>

    <meta name="viewport" content="width=device-width">

    <%= csrf_meta_tags %>
    <%= yield :head %>

    <%= stylesheet_link_tag 'reimagine2' %>
    <%= stylesheet_link_tag 'application' %>

  </head>

  <%= content_tag :body, { id: "body-#{controller_name}", class: 'foundation-grid' } do %>
    <%= render "nav/global_nav/global_nav" %>

    <div id="container">
      <%= yield :header %>

      <div class="row">
        <div class="large-12 columns">
          <%= yield %>
        </div>
      </div>
    </div>

    <%= render 'reimagine2/challengepost/footer' %>
    <%= javascript_include_tag "application" %>
  <% end %>
</html>
